.home-container {
    display: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px); /* navbar is 80px*/
    padding: 0 8%;
    color: var(--textColor);
}

.intro-text {
    padding-top: 250px;
}

/*.intro-text h1 {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    height: 100px;
    }*/

.intro-text h1 {
  font-size: 3.5rem;
  background: linear-gradient(90deg, #a5a5a2, #fff9ed);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 700;
  animation: slideGradient 6s ease infinite;
}
@keyframes slideGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro-text .bold {
    font-weight: 700;
}

.intro-text .highlight {
    color: var(--secondaryColor); /* or choose a custom accent color */
}

.intro-text p {
    font-size: 1.4rem;
    /*color: var(--textSecondaryColor, #aaa);*/
    margin: 10px 100px;
}

.home-location {
  font-size: 1.2rem;
  font-weight: 525;
  padding-bottom: 20px;
}

.home-location svg {
  position: relative;
  top: 3px; 
}

/* Simple fade-in animation on page load */
.home-container {
    opacity: 0;
    animation: fadeIn 1.2s ease forwards;
}

/* Contact */
.home-contact {
  display: flex;
  align-items: center;
  gap: 25px;              
  border: 1px solid currentColor; 
  border-radius: 12px;    
  padding: 10px 15px;  
  margin-top: 50px;        
}

.home-contact a {
  font-size: 30px;        
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease;
  text-decoration: none;
  color: inherit;
}
/*
.home-contact a:hover {
  transform: scale(1.1);  
}*/

.home-contact a {
  position: relative;
  padding: 6px;
  border-radius: 8px;
  transition: transform 0.2s ease, background 0.2s ease, backdrop-filter 0.2s ease;
}

.home-contact a:hover {
  transform: scale(1.15);
  background: rgba(255, 255, 255, 0.1);  /* soft transparent white */
  backdrop-filter: blur(4px);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards; /* 1s duration, forwards keeps final state */
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Responsiveness */
@media (max-width: 900px) {
    .home-container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .intro-image {
        margin-top: 2rem;
    }

    .intro-image img {
        width: 220px;
        height: 220px;
    }
}
