.projects-title {
    font-size: 34px;
    font-weight: 550;
}

.projects-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns by default */
    gap: 2rem;          /* space between cards */
    padding: 2rem;
    width: 800px;       /* fixed width */
    margin: 0 auto;     /* centers the container horizontally */
}

.projects-description {
    width: 800px;
    margin: 30px auto 0px;
    text-align: justify;
    font-size: 17px;
}

.individual-project-title {
    display: flex;
    justify-content: center; /* title on left, tooltip on right */
    align-items: center;
    padding: 10px 20px;
    font-weight: 525;
    font-size: 1.3rem;
}

/* Responsive: single column below 1024px */
@media (max-width: 1024px) {
    .projects-description {
        width: 100%;
        padding: 0px 20px;
        text-align: justify;
        font-size: 17px;
    }

    .projects-cards-container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        width: 100%;
        justify-items: center; /* centers the single column items */
    }
}


